@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;400;500&display=swap');
body {
    background: url('../images/bg.webp') no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden
}

.container {
    font-family: 'Lexend', sans-serif;
    width: 250px;
    margin: 0 auto;
    color: #fff;
}

.weather-img {
    height: 50px;
}

.search {
    width: 100%;
    outline: none;
    background: none;
    color: #fff;
    font-size: 25px;
    border: none;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
    padding: 5px 0;
}

#temp {
    text-align: center;
    font-size: 80px;
}

.btn-change-bg {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}


.shadow {
    box-shadow: 1px 1px 18px 0 rgba(50, 50, 50, 0.75);
}

.inp {
    display: none;
}

.lab {
    background: #000;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-family: 'Lexend', sans-serif;
    padding: 5px 10px;
    text-transform: uppercase;
    border: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 8px 5px 0 0 red;
}

.lab:hover {
    box-shadow: 2px 2px 0 0 red;
}

.highlighting {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

input::placeholder{
    color: white;
}
